cmocean
tqdm
numpy>=1.6
numba
llvmlite
matplotlib
xarray
dask
cartopy
netCDF4
streamlit 
folium 
streamlit-folium
rasterio
scipy
scikit-learn
watchdog
git+https://jugit.fz-juelich.de/j.ungermann/juwavelet.git